{% extends "article/template.html" %}

{% block body %}
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Résultats de la recherche</h2>
                            <p>Home <span>-</span>Tous Résultats de la recherche</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Catégories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for category in categories %}
                                    <li>
                                        <a href="/category/{{ category['nom_categorie'] }}">{{ category['nom_categorie'] }}</a>
                                        <span>(250)</span>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Filtrez par sexe</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="/sexe/homme">Homme</a>
                                    </li>
                                    <li>
                                        <a href="/sexe/femme">Femme</a>
                                    </li>

                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Filter par couleur</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="/couleur/noir">Noir</a>
                                    </li>
                                    <li>
                                        <a href="/couleur/rouge">Rouge</a>
                                    </li>
                                    <li class="active">
                                        <a href="/couleur/blanc">Blanc</a>
                                    </li>

                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <div class="l_w_title">
                                <h3>Price Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <!-- <div id="slider-range"></div> -->
                                    <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex">
                                        <div class="price_text">
                                            <p>Price :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>to</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    <p><span>{{ nbreArticles }}</span> Produits trouvés</p>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>Trier par : </h5>
                                    <form class="" action="/produits" method="post">
                                    <select class="form-control" name="tri">
                                        <option value="prix">prix</option>
                                        <option value="produit">produit</option>
                                    </select><br>
                                    <input type="submit" name="" value="valider" class="btn btn-primary">
                                    </form>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>show :</h5>
                                    <div class="top_pageniation">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search"
                                            aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center latest_product_inner">
                      {% for article in articles.items %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="img/product/product_1.png" alt="">
                                <div class="single_product_text">
                                    <h4>{{ article['nom_article'] }}</h4>
                                    <h3>{{ article['prix'] }}$</h3>
                                    <a href="/detail/{{ article['id_article'] }}" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                      {% endfor %}

                        <div class="col-lg-12">
                            <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                          <!-- previous page -->
                                          {% if articles.has_prev %}
                                          <li>
                                            <a href="{{ url_for('home.produits', page=articles.prev_num) }}">Previous</a>
                                          </li>
                                          {% endif %}

                                          <!-- all page numbers -->
                                    {      {% for page_num in articles.iter_pages() %}
                                            {% if page_num %}
                                                {% if page_num != articles.page %}
                                                    <li>
                                                        <a href="{{ url_for('home.produits', page=page_num) }}">{{ page_num }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="active">
                                                        <a href="#">{{ page_num }}</a>
                                                    </li>
                                                {% endif %}
                                           {% else %}
                                               <li>
                                                   <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
                                               </li>
                                           {% endif %}
                                          {% endfor %}}

                                          <!-- next page -->
                                          {% if articles.has_next %}
                                          <li>
                                            <a href="{{ url_for('home.produits', page=articles.next_num) }}">Next</a></li>
                                          {% endif %}

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <!-- product_list part start-->
    <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <div class="single_product_item">
                            <img src="img/product/product_1.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_2.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_3.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_4.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_5.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part end-->
{% endblock %}
